@import "variables.css";

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: var(--background);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 10px;
  border: 2px solid var(--border);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}

h1 {
  color: var(--h1);
  border-bottom: 2px dashed var(--border);
  margin-bottom: 1rem;
}

h2 {
  color: var(--h2);
  border-bottom: 2px dashed var(--border);
  margin-bottom: 1rem;
}

h3 {
  color: var(--h3);
  border-bottom: 2px dashed var(--border);
  margin-bottom: 1rem;
}

ul {
  list-style: square;
  position: relative;
}

li {
  position: relative;
  padding-left: 0.5rem;
  line-height: 2rem;
}

a {
  text-decoration: underline;
  text-underline-offset: 3px;
  color: var(--primary);
  display: inline-block;
}

a:hover {
  color: var(--primary);
  background-color: #32302f;
}