@import "common.css";

body {
  background-color: var(--background);
  color: var(--primary);
  font-size: 1.2rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toc {
  width: 90%;
  max-width: 600px;
  margin-top: 2rem;
}

@media (max-width: 768px) {
  .toc {
    margin-top: 0;
  }
}