:root {
  --primary: #d8c3ab;
  --background: #151311;
  --h1: #fb4934;
  --h2: #8ec07c;
  --h3: #fabd2f;
  --border: #494643;
}

#back-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1000;
  color: var(--primary);
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
  transition: color 0.2s;
  border-radius: 10px;
}

#back-btn:hover {
  color: #fff;
}

body {
  background-color: var(--background);
  /* Gruvbox Dark Hard */
  color: #aacccc;
  margin: 0;
  padding: 40px;
  display: flex;
  justify-content: center;
}

h1 {
  color: var(--h1);
  border-bottom: 2px dashed var(--border);
  margin-bottom: 1rem;
}

h2 {
  color: var(--h2);
  border-bottom: 2px dashed var(--border);
  margin-bottom: 1rem;
}

h3 {
  color: var(--h3);
  border-bottom: 2px dashed var(--border);
  margin-bottom: 1rem;
}

ul {
  list-style: square;
  position: relative;
}

li {
  position: relative;
  padding-left: 0.5rem;
  /* Space for the line */
  line-height: 2rem;
}

a {
  text-decoration: underline;
  text-underline-offset: 3px;
  color: var(--primary);
  display: inline-block;
}

a:hover {
  color: var(--primary);
  background-color: #32302f;
}

#notebook-container {
  width: 100%;
  max-width: 900px;
  background-color: var(--background);
}
