@import "common.css";

::-webkit-scrollbar-track {
  background: var(--background-brighter);
}

#back-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1000;
  color: var(--primary);
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
  transition: color 0.2s;
  border-radius: 10px;
}

#back-btn:hover {
  color: #fff;
}

body {
  background-color: var(--background);
  /* Gruvbox Dark Hard */
  color: var(--primary);
  margin: 0;
  padding: 40px;
  display: flex;
  justify-content: center;
}

.nb-cell.nb-markdown-cell p,
.nb-cell.nb-markdown-cell li,
.nb-cell.nb-markdown-cell code,
.nb-output {
  font-size: 1.1rem;
}

.nb-text-output {
  font-size: 0.9rem;
}

.nb-cell.nb-markdown-cell code {
  background-color: var(--background-brighter);
  color: var(--h3);
  padding-left: 3px;
  padding-right: 3px;
}

#notebook-container {
  width: 100%;
  max-width: 900px;
  background-color: var(--background);
}

table {
  max-width: 70%;
  border-collapse: collapse;
  margin-bottom: 1.5rem;
  text-align: left;
}

/* Header styling */
th {
  color: var(--h3);
  font-weight: bold;
  border-bottom: 2px solid var(--border);
}

/* Cell styling */
td {
  border-bottom: 1px solid var(--border);
  color: var(--primary);
}

/* Hover effect */
tr:hover td {
  background-color: var(--background-brighter);
}

/* Remove border from the very last row */
tr:last-child td {
  border-bottom: none;
}

#notebook-container img {
  max-width: 100% !important;
  height: auto !important;
}

@media (max-width: 768px) {
  body {
    padding: 10px;
  }

  table {
    max-width: 100%;
    border-collapse: collapse;
    margin-bottom: 1.5rem;
    text-align: left;
    display: block;
    overflow-x: scroll;
  }
}