:root {
  --primary: #d8c3ab;
  --background: #151311;
  --h1: #fb4934;
  --h2: #8ec07c;
  --h3: #fabd2f;
  --border: #494643;
  --background-brighter: #282828;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: var(--background-brighter);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 10px;
  border: 2px solid var(--border);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}

#back-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1000;
  color: var(--primary);
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
  transition: color 0.2s;
  border-radius: 10px;
}

#back-btn:hover {
  color: #fff;
}

body {
  background-color: var(--background);
  /* Gruvbox Dark Hard */
  color: var(--primary);
  margin: 0;
  padding: 40px;
  display: flex;
  justify-content: center;
}

.nb-cell.nb-markdown-cell p,
.nb-cell.nb-markdown-cell li,
.nb-cell.nb-markdown-cell code,
.nb-output {
  font-size: 1.1rem;
}

.nb-text-output {
  font-size: 0.9rem;
}

.nb-cell.nb-markdown-cell code {
  background-color: var(--background-brighter);
  color: var(--h3);
  padding-left: 3px;
  padding-right: 3px;
}

h1 {
  color: var(--h1);
  border-bottom: 2px dashed var(--border);
  margin-bottom: 1rem;
}

h2 {
  color: var(--h2);
  border-bottom: 2px dashed var(--border);
  margin-bottom: 1rem;
}

h3 {
  color: var(--h3);
  border-bottom: 2px dashed var(--border);
  margin-bottom: 1rem;
}

ul {
  list-style: square;
  position: relative;
}

li {
  position: relative;
  padding-left: 0.5rem;
  /* Space for the line */
  line-height: 2rem;
}

a {
  text-decoration: underline;
  text-underline-offset: 3px;
  color: var(--primary);
  display: inline-block;
}

a:hover {
  color: var(--primary);
  background-color: #32302f;
}

#notebook-container {
  width: 100%;
  max-width: 900px;
  background-color: var(--background);
}

table {
  max-width: 70%;
  border-collapse: collapse;
  margin-bottom: 1.5rem;
  text-align: left;
}

/* Header styling */
th {
  color: var(--h3);
  font-weight: bold;
  border-bottom: 2px solid var(--border);
}

/* Cell styling */
td {
  border-bottom: 1px solid var(--border);
  color: var(--primary);
}

/* Hover effect */
tr:hover td {
  background-color: var(--background-brighter);
}

/* Remove border from the very last row */
tr:last-child td {
  border-bottom: none;
}

#notebook-container img {
  max-width: 100% !important;
  height: auto !important;
}

@media (max-width: 768px) {
  body {
    padding: 10px;
  }

  table {
    max-width: 100%;
    border-collapse: collapse;
    margin-bottom: 1.5rem;
    text-align: left;
    display: block;
    overflow-x: scroll;
  }
}
